img {
    width: 30%;
    margin: calc(10%/6);
    filter: grayscale(50%);
    box-shadow: 0.5em 0.5em 0.5em -0.4em gray;
    transition: grayscale 0.1s, transform 0.9s, box-shadow 0.75s;
    height: 37em;
}

img:hover{
    filter: grayscale(0%);
    transform: scale(1.05);
    box-shadow: 0.5em 0.5em 0.5em -0.4em black;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

body {
    background-color: #f0f8ff;
}

nav {
    text-transform: uppercase;
    border-bottom: 2px solid #e2e1e1;
    width: 40%;
    margin-left: calc(10%/6);
    padding: 1.2em 0;
    padding-left: 0.25em;
    font-family: Raleway, sans-serif;
    font-size: 1.5em;
    font-weight: 800;
}

@media (max-width: 900px) {
    #container {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }

    img{
        flex: 1 1 calc(40% - 1em);
        margin: 0.01em;
        height: auto;
    }
}

@media (max-width: 600px) {
    #container {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
    }

    img{
        flex: 1 1 calc(80% - 1.6em);
        margin: 1em;
        height: auto;
    }
}